<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="" href="css/style.css">
  <link rel="stylesheet" type="" href="css/user.css">
  <title><%= user.display_name %></title>
</head>

<body class="lava">
  <%- include("./components/header") %>

    <main class="flex">

      <div class="window flex" id="profile">
        <img width="200px" src="<%= user.images[0].url %>" alt="Profile">
        <div class="flex" id="user-info">
          <h1>
            <%=user.display_name%>
          </h1>
          <% if (user.product==="premium" ) { %>
            <span id="account-type" class="lava">Premium</span>
            <% } else { %>
              <span id="account-type">Normal</span>
              <% } %>
        </div>
      </div>

      <div class="flex window" id="stats">
        <h2>Stats go here</h2>
      </div>

      <div class="window" id="playlists">
        <ul class="listing-list flex">
          <% for (const playlist of playlists) { %>
            <li>
              <a href="/playlists/<%= playlist.id %>">
                <div class="listing flex">
                  <% if (playlist.images && playlist.images.length> 0 && playlist.images[0].url) { %>
                    <img width="200px" src="<%= playlist.images[0].url %>" alt="<%= playlist.name %>">
                    <% } else { %>
                      <img width="200px" src="/media/missing.jpg" alt=":(">
                      <% } %>
                        <div>
                          <h3>
                            <%= playlist.name %>
                          </h3>
                          <p>
                            <%= playlist.description %>
                          </p>
                        </div>
                </div>
              </a>
            </li>
            <% } %>
        </ul>
        <div class="window" id="missing-playlists">
          <h3>Missing playlists?</h3>
          <p>You may need to add them to your profile through the spotify player.</p>
        </div>
      </div>

    </main>

    <%- include("./components/footer") %>
</body>

</html>
