<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="" href="css/style.css">
  <link rel="stylesheet" type="" href="css/user.css">
  <title>Home</title>
</head>

<body class="lava">
  <%- include("./components/header") %>

    <main class="flex">

      <div class="window flex" id="profile">
        <img width=" 200px" src="<%= user.images[0].url %>" alt="Profile">
        <div class="flex" id="user-info">
          <h1>
            <%=user.display_name%>
          </h1>
          <% if (user.product="premium" ) { %>
            <span id="account-type" class="lava">Premium</span>
            <% } else { %>
              <span id="account-type">Normal</span>
              <% } %>
        </div>
      </div>

        <div class="flex window" id="stats">
            <h2>Stats go here</h2>
        </div>

        <div class="window flex" id="playlists">
            <h2>Playlists go here</h2>
            <%= playlists %>
        </div>

    </main>

    <%- include("./components/footer") %>
</body>

</html>
